<!DOCTYPE html>
<html>
<head>
  <title>FusionRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script>

    function getParameterByName(name) {
      name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
      var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
          results = regex.exec(location.search);
      return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    System.import('fusion').then(function (_) {
      $(function(){
        var fusion = new _.Fusion("app", getParameterByName('keyboardType')||'ergodox_ez');
        fusion.start();
      });
    });

  </script>
</head>
<body>

<%# <%= yield %1> %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div id="app"></div>
      </div>
    </div>
  </div>

</body>
</html>
